<form action="/posts" method="post">
  <h3>Post Title:</h3>
    <input id="name" input type="text" name="post[name]">
  <h3>Post:</h3>
  <input id="content" input type="text" name="post[content]">
  <br>
  <input id="submit" type="submit" name="submit" value="submit">
</form>
